.messages-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.messages-container-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 10px;
    min-height: 480px;
    max-height: 480px;
    overflow-y: auto;
}

.message-item {
    display: flex;
    padding: 12px;
    margin: 8px 0;
    width: fit-content;
    max-width: 480px;
    outline: 1px solid black;
    border-radius: 3px;
}

.message-form {
    display: flex;
    height: 25px;
    padding: 6px;
    margin: 0 10px;
    border-radius: 3px;
}

.message-form button {
    height: 45px;
    padding: 10px;
    margin: 0 10px;
    background-color: #6d6;
    color: white;
    border-radius: 10px;
}

.message-form input {
    height: 100%;
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
}

.sender1 {
    background-color: #ccc;
    align-self: flex-start;
}

.sender2 {
    background-color: #6d6;
    color: white;
    align-self: flex-end;
}